.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-image: url("../src/media/background.png");
  background-size: cover;
}

.nav-Item{
  color: white;
}
nav-Item:hover{
  background-color: blue;
}

.color-font{
  color: white;
}

/*BG CABAÑAS COLORS*/
.bg-cab7{
  background-color: deeppink;
}

.bg-cab8{
  background-color:indigo
}
.bg-cab9{
  background-color:salmon
}

.bg-cab10{
  background-color:navy
}